body {
  color: #999999;
  background-color: #000000;
  font-family: verdana,helvetica;
  font-size: 10pt;
  margin-left: 15px;
  margin-right: 15px;
}

.whomain { 
  border: 1px solid #6f6f6f;
  text-align: center;
}

.btn #submit {
  width=2px;
  background-color: #fcfcfc;
  border: 5;
}

.whomain TABLE {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.whoheaders {
  font-size: 10pt;
  font-weight: bold;
  text-decoration: underline;
  color: #ffffff;
}


.whoname {
  font-family: verdana, helvetica;
  font-size: 10pt;
  
  font-weight: bold;
}

.whodoing {
  font-size: 9pt;
  font-style: italic;
}

.whoonfor {
  text-align: right;
}

.whoalias {
}

.whoidle {
  text-align: right;
}

/* Requires special TD tag */
.whocomment TD {
  font-family: comic sans serif;
  font-size: 12pt;
}

.whoswlm { }

.whomain { }
